.front-page {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  background-image: url("https://s3-us-west-1.amazonaws.com/honeytapmusic/honeycovercopy.png"); }

.front-page .cover .lilbee {
  height: 320px;
  width: auto;
  position: absolute;
  right: 60px;
  top: 60px; }
