$section-height: 250px;
$transition2: all 220ms cubic-bezier(0.250,0.100,0.250,1.000) 0ms;

.front-page {
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;

    @media (min-width: 320px) {
        background-image: url("https://s3-us-west-1.amazonaws.com/honeytapmusic/honeycovercopysmall.png");
    }

    @media (min-width: 520px) {
        background-image: url("https://s3-us-west-1.amazonaws.com/honeytapmusic/honeycovercopymed.png");
    }

    .cover {
        .lilbee {
            height: 39%;
            width: auto;
            position: absolute;
            left: 60px;
            top: 60px;

            @media (max-width: 768px) {
                height: 254px;
                position: relative;
                top: 14px;
                left: 0;
                right: 0;
            }

            @media (max-width: 450px) {
                height: 192px;
            }

            @media (max-width: 320px) {
                height: 160px;
            }

            animation: appear1  2s ease-out;
            @keyframes appear1 {
                0% {
                    opacity: 0
                }
                40% {
                    opacity: 0;
                }
                100% {
                    opacity: 1
                }
            }
        }

        .front-links {
            position: absolute;
            right: 58px;
            bottom: 115px;

            @media (max-width: 768px) {
                left: 0;
                right: 0;
                bottom: 100px;
                padding: 0 6px;
            }

            .link-front {
                padding: 0 4px;
                font-size: 2.3em;
                color: ghostwhite;
                transition: $transition2;

                &:hover {
                    transform: scale(1.1);
                }

                @media (max-width: 768px) {
                    padding: 0 6px;
                }
            }
        }

        .enter {
            font-family: Futura;
            position: absolute;
            font-size: 2.7em;
            bottom: 0px;
            right: 60px;
            color: ghostwhite;

            @media (max-width: 768px) {
                left: 0;
                right: 0;
                font-size: 2.1em;
            }

            animation: appeartext 1.15s ease-out;
            @keyframes appeartext {
                0% {
                    bottom: 23px;
                    opacity: 0
                }
                20% {
                    bottom: 23px;
                    opacity: 0
                }
                100% {
                    bottom: 0;
                    opacity: 1
                }
            }
        }
    }
}
