$transition1: all 620ms cubic-bezier(0.250,0.100,0.250,1.000) 0ms;
$transition2: all 220ms cubic-bezier(0.250,0.100,0.250,1.000) 0ms;

@mixin warm-bg($col) {
    opacity: 0;
    background-color: $col;
    transition: $transition1;

    &:hover {
        opacity: .55;
    }
}

.main{
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;

    .background {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center center;
        background-image: url("https://s3-us-west-1.amazonaws.com/honeytapmusic/IMG_198.jpg");
        transition: $transition1;

        @media(max-width: 767px) {
            //height: 100vh;
        }

        .bg1 {
            @include warm-bg(#D18B17);
        }

        .hidden {
            transition: $transition1;
            opacity: 0;
        }
    }

    .social-1 {
        text-align: left;
        position: fixed;
        height: auto;
        width: 100%;
        top: 0;

        .link {
            text-decoration: none;
            color: #1450b3;
            padding: 20px;
            height: 30px;
            width: 30px;
            transition: $transition1;
            text-shadow: 0px 0px 3px #000;
            @media (max-width: 768px) {
                color: ghostwhite;
            }

            &:hover {
                //height: 33px;
                //width: 33px;
                transform: scale(1.2);
                color: goldenrod;
                transition: $transition2;
            }
        }

        @media (max-width: 768px) {
            //color: ghostwhite;
            text-align: center;
        }
    }


    .caret {
        color: white;
        font-size: 2em;
        position: absolute;
        bottom: 25px;
        right: 30px;
        text-decoration: none;
        animation: repeat .6s ease-out infinite;
        @keyframes repeat {
            0% {
                bottom: 25px;
                opacity: 0
            }

            100% {
                bottom: 0px;
                opacity: 1
            }
        }

        @media (max-width: 450px) {
            right: 20px;
            //color: gold;
            text-shadow: 10px 11px 13px #000;
        }
    }

    .space {
        height: 100%;
    }

    .section-2 {
        font-family: Abel;
        height: auto;
        z-index: 100;
        background-color: ghostwhite;
        position: relative;
        text-align: center;

        .logo-sec-1 {
            top: 60px;
            position: relative;

            .lilbee {
                height: 238px;
                width: auto;
                position: relative;
            }
        }


        .album-title {
            font-family: Futura;
            top: 60px;
            position: relative;
            padding: 40px 0;
            //margin: 40px 0 40px 0;

            h1 {
                margin: 40px 0;
            }
        }

        .player {
            top: 100px;
            position: relative;

            .player-mobile {
                @media (min-width: 699px) {
                    display: none;
                }
            }

            .player-desktop {
                @media (max-width: 700px) {
                    display: none;
                }
            }
        }

        .song-links {
            position: relative;
            height: auto;
            display: inline-block;
            top: 180px;
            padding: 35px 0;
            text-align: center;
            font-family: Futura;

            .song-link {
                width: 300px;
                height: 60px;
                transition: $transition2;
                color: #1450b3;
                padding: 5px 0;
                font-size: 1.5em;


                .link-image {
                    display: inline-block;
                    position: relative;
                    left: 0;
                    vertical-align: middle;
                    float: left;
                }

                .link-text {
                    border-radius: 4px;
                    padding: 2px 6px;
                    background-color: #ebaf4c;
                    position: relative;
                    float: right;
                    transition: $transition2;
                }

                &:hover {
                    .link-text {
                        background-color: #1450b3;
                        color: #ebaf4c;
                    }
                }
            }
        }


        .rule {
            position: relative;
            width: 300px;
            top: 60px;

            @media (max-width: 768px) {
                width: 200px;
            }
        }

        .contact {
            top: 100px;
            padding: 90px 0;
            position: relative;

            p {
                font-weight: 300;
                word-wrap: break-word;
                font-size: 1.2em;

                &:first-of-type {
                    margin-top: 90px;
                }
            }
            
            .contact-link {
                color: black;
                text-decoration: none;
                
                @media (max-width: 380px) {
                    padding: 5px;
                }
            }
        }

        .footer-logo {
            position: relative;
            padding: 120px 0 50px 0;
            top: 60px;

            .bottom-bee {
                top: 20px;
                margin: 0;
                height: 200px;

                @media (max-width: 400px) {
                    height: 168px;
                }
            }
        }

        .social-2 {
            height: auto;
            //position: relative;
            padding: 50px 0;

            .link {
                text-decoration: none;
                color: #1450b3;
                padding: 20px;
                height: 30px;
                width: 30px;
                transition: $transition1;

                &:hover {
                    //height: 33px;
                    //width: 33px;
                    transform: scale(1.2);
                    color: goldenrod;
                    transition: $transition2;
                }
            }
        }

    }
}
